**/LEXER
**/PARSER
**/*.class
**/COMPILER
**/Lexer.java
**/Parser.java
**/TokenNames.java
FOLDER_3_SOURCE_CODE/EX2/FOLDER_2_SRC/Parser.java
FOLDER_3_SOURCE_CODE/EX2/FOLDER_2_SRC/TokenNames.java
FOLDER_4_DEMOS/DEMO_10_STACK_FRAMES/MS_VISUAL_STUDIO_FRAMES/Debug/*
FOLDER_4_DEMOS/DEMO_10_STACK_FRAMES/MS_VISUAL_STUDIO_FRAMES/MS_VISUAL_STUDIO_FRAMES.sdf